<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.inventorymanagementapp">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.InventoryManagementApp">
        <activity android:name=".Manage_Actitvity"
            android:label="Inventory App">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Editor_Activity"
            android:label="Add a Product"
            android:theme="@style/EditorTheme"
            android:parentActivityName=".Manage_Actitvity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Manage_Actitvity"/>
        </activity>
        <provider
            android:authorities="com.example.android.inventorymanagementapp"
            android:name=".Data.ProductProvider"
            android:exported="false"/>
        <activity android:name=".scannerView"></activity>
    </application>

</manifest>